{% extends 'base.html.twig' %}

{% block title %}Dinosaur index{% endblock %}

{% block body %}
    <h1>Dinosaur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>TypeSpecies</th>
                <th>Size</th>
                <th>Weight</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dinosaur in dinosaurs %}
            <tr>
                <td>{{ dinosaur.id }}</td>
                <td>{{ dinosaur.name }}</td>
                <td>{{ dinosaur.typeSpecies }}</td>
                <td>{{ dinosaur.size }}</td>
                <td>{{ dinosaur.weight }}</td>
                <td>
                    <a href="{{ path('dinosaur_show', {'id': dinosaur.id}) }}">show</a>
                    <a href="{{ path('dinosaur_edit', {'id': dinosaur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dinosaur_new') }}">Create new</a>
{% endblock %}
