{% extends 'base.html.twig' %}

{% block title %}Localization index{% endblock %}

{% block body %}
    <h1>Localization index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localization in localizations %}
            <tr>
                <td>{{ localization.id }}</td>
                <td>{{ localization.name }}</td>
                <td>
                    <a href="{{ path('localization_show', {'id': localization.id}) }}">show</a>
                    <a href="{{ path('localization_edit', {'id': localization.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('localization_new') }}">Create new</a>
{% endblock %}
